.van-detail-container {
    padding: 27px;
}

.back {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4d4d4d;
}

.back:visited {
    color: #4d4d4d;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail>img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.van-detail>p {
    margin-bottom: 1rem;
    font-style: normal;
}

.van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    align-self: center;
}

.description {
    margin-bottom: 1rem;
}

.vantypeany {
    background-color: white;
    color: black;
    border: solid 1px black;
    font-weight: 600;
    text-decoration: none;
}

.vantypeany:hover {
    text-decoration: none;
}

.back-flex {
    display: flex;
    gap: 5px;
    align-items: center;
}

.link-button {
    margin: 1rem;
    align-self: center;
}