:root {
  background-color: #ffeacf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
}

header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  height: 110px;
  padding: 25px;
}

nav {
  gap: 25px;
}

footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: #aaaaaa; /* AAAAAAAAAAA */
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.01em;
  width: 90%;
  padding-top: 20px;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
  width: 90%;
  padding-top: 20px;
}

h1.main-page-h1 {
  color: white;
}

h2.main-page-h2 {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  font-size: 1rem;
  color: #4d4d4d;
  font-weight: 600;
}

nav a:hover {
  color: #000;
}

.branding-title {
  font-size: 1.6rem;
  color: #000;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
}

.branding-title:hover {
  text-decoration: none;
}

.copyright-text::before {
  content: "\00A9 ";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.main-page {
  width: 100%;
  height: 400px;
  background-image: url("./assets/mainbg.png");
  background-color: #00000046;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

main.about-page {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-button {
  margin-top: 50px;
}

div.about-img {
  height: 235px;
  width: 100%;
  background-image: url("./assets/aboutbg.png");
  background-size: cover;
  background-position: center center;
}

h1.about-page-h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 38px;
  color: black;
}

h2.about-page-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  width: 80%;
}

.explore {
  border-radius: 4px;
  padding: 10px 35px;
  background-color: #ffcb8d;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 55px;
}

section.about-section {
  width: 90%;
  line-height: 22px;
}

[class$="-button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.black-button {
  background-color: black;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.green-button {
  background-color: #115e59;
  color: #ffead0;
  font-weight: 600;
  text-decoration: none;
}

.orange-button {
  color: #ffead0;
  background-color: #ff8c38;
  font-weight: 600;
}

.manila-button {
  background-color: #ffead0;
  color: #4d4d4d;
  font-weight: 500;
}

.green-button:hover,
.orange-button:hover,
.black-button:hover,
.manila-button:hover {
  color: white;
  text-decoration: none;
}

.sm-button {
  width: 85px;
  height: 35px;
  border-radius: 5px;
}

.md-button {
  width: 175px;
  height: 50px;
  border-radius: 10px;
}

.wide-button {
  width: 90%;
  height: 50px;
  border-radius: 5px;
}

/* Options page */
div.options {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.options-img {
  border-radius: 5px;
  width: 230px;
  height: 230px;
}

[class^="options-container-"] {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.options-subcomponent {
  display: flex;
  justify-content: space-between;
}

.day-text {
  position: relative;
  font-size: 12px;
  top: -10px;
  right: 0;
}

.options-button {
  align-self: center;
}

span.van-text {
  margin-block: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 32px;
}

.van-filter {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 25px;
  gap: 20px;
}

.van-filter-clear {
  text-decoration: underline;
  color: #4d4d4d;
  margin-left: 30px;
}

.van-filter-clear:hover {
  color: #000;
}
