:root {
  background-color: #ffeacf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
}

/* Resetting a formatting */
a.no-deco {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit color from parent element */
}

a.no-deco {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit color from parent element */
}

header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  height: 110px;
  padding: 25px;
}

nav {
  gap: 25px;
}

footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: #aaaaaa; /* AAAAAAAAAAA */
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.01em;
  width: 90%;
  padding-top: 20px;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
  width: 90%;
  padding-top: 20px;
}

h1.main-page-h1 {
  color: white;
}

h2.main-page-h2 {
  color: white;
}

nav a {
  font-size: 1rem;
  color: #4d4d4d;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.branding-title {
  font-size: 1.6rem;
  color: #000;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
}

.branding-title:hover {
  text-decoration: none;
}

.copyright-text::before {
  content: "\00A9 ";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.main-page {
  width: 100%;
  height: 400px;
  background-image: url("./assets/mainbg.png");
  background-color: #00000046;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

main.about-page {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-button {
  margin-top: 50px;
}

div.about-img {
  height: 235px;
  width: 100%;
  background-image: url("./assets/aboutbg.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

h1.about-page-h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 38px;
  color: black;
}

h2.about-page-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  width: 80%;
}

.explore {
  border-radius: 4px;
  padding: 10px 35px;
  background-color: #ffcb8d;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 55px;
}

section.about-section {
  width: 90%;
  line-height: 22px;
}

[class$="-button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}

.black-button,
.black-button-selected {
  background-color: black;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.green-button,
.green-button-selected {
  background-color: #115e59;
  color: #ffead0;
  font-weight: 600;
  text-decoration: none;
}

.orange-button,
.orange-button-selected {
  color: #ffead0;
  background-color: #ff8c38;
  font-weight: 600;
}

.manila-button,
.manila-button-selected {
  background-color: #ffead0;
  color: #4d4d4d;
  font-weight: 500;
}

.green-button:hover,
.orange-button:hover,
.black-button:hover,
.manila-button:hover {
  text-decoration: none;
}

.black-onhover-button:hover {
  background-color: black;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.green-onhover-button:hover {
  background-color: #115e59;
  color: #ffead0;
  font-weight: 600;
  text-decoration: none;
}

.orange-onhover-button:hover {
  color: #ffead0;
  background-color: #ff8c38;
  font-weight: 600;
}

.manila-onhover-button:hover {
  background-color: #ffead0;
  color: #4d4d4d;
  font-weight: 500;
}
.sm-button {
  width: 85px;
  height: 35px;
  border-radius: 5px;
}

.md-button {
  width: 175px;
  height: 50px;
  border-radius: 10px;
}

.wide-button {
  width: 90%;
  height: 50px;
  border-radius: 5px;
}

/* Options page */
div.options {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.options-img {
  border-radius: 5px;
  width: 230px;
  height: 230px;
}

[class^="options-container-"] {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.options-subcomponent {
  display: flex;
  justify-content: space-between;
}

.day-text {
  position: relative;
  font-size: 12px;
  top: -10px;
  right: 0;
}

.options-button {
  align-self: center;
}

span.van-text {
  margin-block: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 32px;
}

.van-filter {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 25px;
  gap: 20px;
}

.van-filter-clear {
  border: none;
  background: none;
  text-decoration: underline;
  color: #4d4d4d;
  margin-left: 30px;
}

.van-filter-clear:hover {
  color: #000;
}
i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  align-self: center;
}

button {
  font-size: 1rem;
}

.host-nav {
  display: flex;
  justify-content: flex-start;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

/* Vans host page */
.host-vans-overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 2rem;
}

.host-vans-entry {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  width: 90%;
  height: 100px;
  background-color: #ffead0;
}

.host-vans-img {
  border-radius: 4px;
  max-width: 65px;
  max-height: 65px;
  margin: 1rem;
}

.host-vans-entry-col {
  min-width: 50%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.host-vans-entry-link {
  text-decoration: none;
  padding-top: 0;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  width: 80%;
}

.host-vans-entry-link:hover {
  text-decoration: underline;
}

/* Van details page */

.van-detail-page {
  margin: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.back {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-back {
  text-decoration: underline;
  color: black;
}

.link-back:hover {
  color: #ff8c38;
}

.van-detail-details {
  margin-block: 2em;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  background-color: #ffead0;
}

.van-detail-details-top {
  display: flex;
}

.van-detail-details-top-side {
  margin: 1rem;
  width: fit-content;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}

.van-detail-details-img {
  width: 160px;
  height: 160px;
}

.van-detail-details-h2 {
  padding: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.van-detail-details-bottom {
  margin: 0;
  margin-block: 1em;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Host photos page */
.photos-flex {
  display: flex;
  flex-wrap: wrap;
}

.photos-flex-photo {
  max-width: 100px;
  max-height: 100px;
}

.notfound-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
}

.notfound-page > h1 {
  margin-left: 5%;
  align-self: flex-start;
  margin-bottom: 40px;
}

.notfound-page > button {
  align-content: center;
  margin: auto;
}
